
/* ...................................................... */
*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

#biru{
  color: lightblue;
}
/* navbar */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

nav{
  display: flex;
  width: 100%;
  background: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  flex-wrap: wrap;
  position: fixed;
  transition: 1s;
  z-index: 1111;
}

nav.sticky{
  background-color: black;
  color: white;
  
}

nav .logo{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo img {
  width: 150px;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li{
  margin: 0 5px;
}

nav ul li a{
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: 1s ease;
}

nav.sticky ul li a{
  color: white;
}

nav ul li a.active,
nav ul li a:hover{
  color: #fff;
  background: #111;
}

nav.sticky ul li a.active,
nav.sticky ul li a:hover{
 color: black;
 background-color: white;
}
nav .menu-btn i{
  color: black;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 64px;
    left: -100%;
    background: white;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 1s ease;
    z-index: 111;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav ul li a{
    /*width: 25%;*/
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: black;
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    /* background: none; */
    color: white;
    border-radius: 0;
  }

  nav ul.sticky{
    background-color: black;
  }
  
}

/* Hero Section Start */
.hero{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid blue; */
  padding-top: 50px;
}

.container-hero{
  /* border: 2px solid; */
}

.p1{
  font-size: 75px;
  font-weight: 700;
  text-align: center;
}

.p2{
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

/* Hero Section End */






/* Section 1 Start */
.section-contact{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 100px; 
  /* background-color: green; */
  margin-bottom: 100px;
}
form{
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  display: grid;
  grid-template-areas:
  'firstName lastName'
  'Email Phone'
  'chooseSubject chooseSubject'
  'Message Message'
  'Send Send';
  grid-gap: 30px;
  /* border: 2px solid black; */
  
}

.firstName{
  width: 100%;
  grid-area: firstName;
}
.lastName{
  width: 100%;
  grid-area: lastName;
}
.Email{
  width: 100%;
  grid-area: Email;
}
.Phone{
  width: 100%;
  grid-area: Phone;
}
.chooseSubject{
  width: 100%;
  grid-area: chooseSubject;
}
.chooseSubject select{
  padding: 18px 12px;
  color: #BCBCBC;
  font-size: 18px;
}

.Message{
  width: 100%;
  grid-area: Message;
}
textarea{
  overflow: auto;
  resize: none;
}
.isiPesan{
  width: 100%;
  height: 200px;
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 18px 12px;
  margin-bottom: 10px;
  background-color: #E8E8E8;
  border: none;
  margin-top: 8px;
  font-size: 16px;
}
.Send{
  width: 100%;
  grid-area: Send;
}

select{
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #E8E8E8;
  border: none;
}
input{
  width: 100%;
  border-radius: 10px;
  padding: 18px 12px;
  margin-bottom: 10px;
  background-color: #E8E8E8;
  border: none;
  margin-top: 8px;
  font-size: 16px;
}
button{
  width: 100%;
  border-radius: 10px;
  padding: 18px 12px;
  margin-bottom: 10px;
  background-color: #E8E8E8;
  border: none;
  margin-top: 8px;
}
.Send input{
  background: #FF7A00;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.Send button:hover{
  filter: brightness(0.9);
}
input::placeholder {
  color: #BCBCBC;
  font-size: 16px;
}
textarea:placeholder{
  color: #BCBCBC;
  font-size: 16px;
}
textarea:hover{
  filter: brightness(0.9);
}
label{
  font-size: 20px;
  font-weight: 700;
}

input:focus{
  font-size: 16px;
}
input:hover {
  filter: brightness(0.9);
}

/* ----------------------FOOTER---------------------- */

footer{
  width: 100%;
  /* background-color: blue; */
}

footer img{
  width: 100%;
  /* height: 100px; */
  margin-bottom: -5px;
}

.footer-content{
  width: 100%;
  color: white;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-top: -70px;
  padding: 0px 25px;
  box-sizing: border-box;
  /* background-color: blue; */
  
}

.footer-icon{
  display: flex;
  justify-content: space-evenly;

}

.footer-icon img{
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}



/* Akhir footer */




/* responsive */
@media screen and (min-width: 1500px) {
  label{
    font-size: 30px;
  }
  input{
    height: 80px;
    padding: 18px 22px;
    font-size: 28px;
  }
  .chooseSubject select{
    height: 80px;
    font-size: 28px;
  }
  .chooseSubject select option{
    font-size: 28px;
  }
  .Send input{
    font-size: 30px;
  }
  input::placeholder {
    color: #BCBCBC;
    font-size: 28px;
  }
  input:focus{
    font-size: 28px;
  }

  .Message textarea{
    font-size: 28px;
  }
  .Message textarea:placeholder{
    color: #BCBCBC;
    font-size: 28px;
  }
  .Message textarea:focus{
    font-size: 28px;
  }


 

    /* ------------FOOTER-------------------- */
  footer{
    height: 200px;
    padding-bottom: 40px;
  }
  .footer-content{
    margin-top: -80px;
  }
  footer img{
    margin-bottom: -10px;
    height: 200px;
  } 

  .footer-icon img {
    width: 55px;
    height: 55px;
  }
}

@media screen and (min-width: 1000px){

 

  footer{
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  nav{
    padding: 0 20px;
  }

  /* hero section */
  .hero{
    padding-top: 50px;
    height: 30vh;
    /* border: 2px solid; */
    
  }
  .p1{
    font-size: 30px;
  }
  .p2{
    font-size: 19px;
  }

  /* section contact */

  .section-contact{
    padding: 10px;
    margin-bottom: 20px;
  }
  textarea{
    overflow: auto;
    resize: none;
  }
  .isiPesan{
    width: 100%;
    height: 200px;
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 18px 12px;
    margin-bottom: 10px;
    background-color: #E8E8E8;
    border: none;
    margin-top: 8px;
    font-size: 16px;
  }
  input::placeholder {
    color: #BCBCBC;
    font-size: 12px;
  }
  label{
    font-size: 20px;
    font-weight: 700;
  }
  
  input:focus{
    border-color: black;
  }
  input:hover {
    filter: brightness(0.9);
  }
  /* footer */
  footer img{
    height: 100px;
  }
  .footer-icon img{
    width: 20px;
    height: 20px;
    margin: 3px;
    background-color: white;
    padding: 3px;
    border-radius: 10px;
  }

  .footer-content{
    width: 100%;
    color: white;
    font-size: 0.5em;
    margin-top: -37px;
    padding: 0px 20px;
    box-sizing: border-box;
    /* background-color: blue; */
    
  }
}
