*{
    margin: 0;
    padding: 0;
  }
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
  
  #biru{
    color: lightblue;
  }
  /* navbar */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  } 
  
  nav{
    display: flex;
    width: 100%;
    background: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    flex-wrap: wrap;
    position: fixed;
    transition: 1s;
    z-index: 1111;
  }
  
  nav.sticky{
    background-color: black;
    color: white;
    
  }
  
  nav .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .logo img {
    width: 150px;
  }
  
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  nav ul li{
    margin: 0 5px;
  }
  
  nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: 1s ease;
  }
  
  nav.sticky ul li a{
    color: white;
  }
  
  nav ul li a.active,
  nav ul li a:hover{
    color: #fff;
    background: #111;
  }
  
  nav.sticky ul li a.active,
  nav.sticky ul li a:hover{
   color: black;
   background-color: white;
  }
  nav .menu-btn i{
    color: black;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 64px;
      left: -100%;
      background: white;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 1s ease;
      z-index: 111;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    nav ul li a{
      /*width: 25%;*/
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      color: black;
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      /* background: none; */
      color: white;
      border-radius: 0;
    }
  
    nav ul.sticky{
      background-color: black;
    }
    
  }



/* Hero Section Start */

.hero {
    width: 100%;
    height: 50vh;
}

.container{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 55px;
    background-image: url('../../img/game/bg-warung-nasi.png');
    background-size: cover;
    /* border: 2px solid blue; */
}
.container-child p{
    font-size: 35px;
    font-weight: 700;
    color: white;
}

#ph{
  font-size: 20px;
  margin: 10px 0px -30px;
}
.container-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.platform{
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-around;
    font-size: 28px;
    margin-top: 50px;
    font-weight: 700;
    /* border: 2px solid blue; */
}
.platform-child{
    width: 28%;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    cursor: pointer;
}
.platform-child:hover {
  background-color:  #00000047;
}
.platform-child img{
    padding: 5px;
}
.platform-child a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  
}




/* Section Article Start */
.section-article{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
         /*border: 2px solid black; */
}
.container-article{
    width: 90%;
     /*border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-article p{
    margin: 50px 0px;
    font-size: 18px;
}

#ca{
  margin-bottom: 20px;
}

#ce{
  color:#FF7A00;
}

.article-image1{
    width: 76%;
    height: 500px;
    background-image: url('img/NCE1.png');
    border-radius: 10px;
    background-size: cover;
    margin: 10px;
}
.article-image2{
    width: 76%;
    height: 500px;
    background-image: url('img/NCE2.png');
    border-radius: 10px;
    background-size: cover;
     margin: 10px;
}
.article-image3{
    width: 76%;
    height: 500px;
    background-image: url('img/NCE3.png');
    border-radius: 10px;
    background-size: cover;
     margin: 10px;
}
.article-image4{
    width: 76%;
    height: 500px;
    background-image: url('img/NCE4.png');
    border-radius: 10px;
    background-size: cover;
     margin: 10px;
}
.article-image5{
    width: 76%;
    height: 500px;
    background-image: url('img/NCE5.png');
    border-radius: 10px;
    background-size: cover;
     margin: 10px;
}
.article-image6{
    width: 76%;
    height: 500px;
    background-image: url('img/NCE6.png');
    border-radius: 10px;
    background-size: cover;
     margin: 10px;
}

/* Section Article End */













/* ----------------------FOOTER---------------------- */

footer{
  width: 100%;
  /* background-color: blue; */
}

footer img{
  width: 100%;
  /* height: 100px; */
  margin-bottom: -5px;
}

.footer-content{
  width: 100%;
  color: white;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-top: -70px;
  padding: 0px 25px;
  box-sizing: border-box;
  /* background-color: blue; */
  
}

.footer-icon{
  display: flex;
  justify-content: space-evenly;

}

.footer-icon img{
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}



/* Akhir footer */


/* Responsive */

@media screen and (min-width: 1500px){

   .container-child p{
    font-size: 64px;
  }
  #ph{
    font-size: 35px;

  }
  .platform{
    display: flex;
    color: white;
    width: 80%;
    justify-content: space-around;
    font-size: 28px;
    margin-top: 70px;
    font-weight: 700;
    /* border: 2px solid blue; */
}
  .platform-child{
    width: 28%;
    padding: 20px 5px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    cursor: pointer;
  }
  .platform-child img{
    width: 40px;
  }


  .container-article p{
    font-size: 34px;
  }

  #ca{
    font-size: 40px;
  }

  .article-image1, .article-image2, .article-image3, .article-image4, .article-image5, .article-image6{
    width: 1500px;
    height: 800px;
    margin:40px;
  }

  /* ------------FOOTER-------------------- */
  footer{
    height: 200px;
    padding-bottom: 40px;
  }

  footer img{
    margin-bottom: -10px;
  }
}

@media screen and (min-width: 1000px){
 
  footer{
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  nav{
    padding: 0 20px;
  }

  /* hero section */
  .container{
    /* border: 2px solid; */

  }
  .container-child p{
    font-size: 26px;
  }
  #ph{
    font-size: 18px;
  }
  .platform{
    flex-direction: column;
    align-items: center;
    
  }
  .platform-child{
    width: 60%;
    font-size: 16px;
    margin: 5px;
  }
  .platform-child img{
    width: 25px;
  }

  /*section article*/

  .section-article{
    margin-top: 0px;
  }


  /* section 1 */
  #tnl{
    font-size: 35px;
    margin-top: -50px;
  }
  #masker{
    font-size: 75px;
    padding-top: 50px;
  }

  /* section 2 */
  .GTS{
    width: 100%;
    font-size: 20px;
  }


  .article-image1, .article-image2, .article-image3, .article-image4, .article-image5, .article-image6{
    height: 220px;
    width: 350px;
    background-size: cover;
    background-position: center;
  }

  /* footer */
  footer img{
    height: 100px;
  }
  .footer-icon img{
    width: 20px;
    height: 20px;
    margin: 3px;
    background-color: white;
    padding: 3px;
    border-radius: 10px;
  }

  .footer-content{
    width: 100%;
    color: white;
    font-size: 0.5em;
    margin-top: -37px;
    padding: 0px 20px;
    box-sizing: border-box;
    /* background-color: blue; */
    
  }
}

@media screen and (max-width: 360px) {
  .container-child p{
    font-size: 20px;
  }

  .platform{
    margin-top: 20px;
  }

  .platform-child{
    font-size: 12px;
    width: 50%;
  }


}

@media screen and (max-width: 600px){
   
}