*{
  margin: 0;
  padding: 0;
  /* border: 1px solid; */

}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

#biru{
  color: lightblue;
}
/* navbar */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

nav{
  display: flex;
  width: 100%;
  background: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  flex-wrap: wrap;
  position: fixed;
  transition: 1s;
  z-index: 1111;
}

nav.sticky{
  background-color: black;
  color: white;
  
}

nav .logo{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo img {
  width: 150px;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li{
  margin: 0 5px;
}

nav ul li a{
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: 1s ease;
}

nav.sticky ul li a{
  color: white;
}

nav ul li a.active,
nav ul li a:hover{
  color: #fff;
  background: #111;
}

nav.sticky ul li a.active,
nav.sticky ul li a:hover{
 color: black;
 background-color: white;
}
nav .menu-btn i{
  color: black;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 64px;
    left: -100%;
    background: white;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 1s ease;
    z-index: 111;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav ul li a{
    /*width: 25%;*/
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: black;
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    /* background: none; */
    color: white;
    border-radius: 0;
  }

  nav ul.sticky{
    background-color: black;
  }
  
}
/*nav{
  display: flex;
  width: 100%;
  background: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  flex-wrap: wrap;
  position: fixed;
  transition: 0.5s;
  z-index: 1111;
}

nav.sticky{
  background-color: #111;
  color: white;
  
}

nav .logo{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo img {
  width: 150px;
  
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li{
  margin: 0 5px;
}

nav ul li a{
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav.sticky ul li a{
  color: white;
}

nav ul li a.active,
nav ul li a:hover{
  color: #fff;
  background: #111;
}

nav.sticky ul li a.active,
nav.sticky ul li a:hover{
 color: black;
 background-color: white;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 111;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}*/

/* akhir navbar */

/* <---------- Section 1 ----------> */

.section-1{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

.nv{
  height: 60vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* border: 2px solid blue; */
}

.nv video{
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 500px;
  object-fit: cover; 
  /* display: none; */
}


#tnl{
  position: absolute;
  z-index: 111;
  margin-top: -70px;
  font-size: 57px;
  font-family: 'Inter';
  width: 100%;
  text-align: center;
  /* border: 2px solid yellow; */
}


#masker{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  font-family: 'Inter';
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  text-align: center;
  /* text-transform: uppercase; */
  color: #000;
  /* line-height: 55vh; */
  mix-blend-mode: screen;
  z-index:1 ;
  /* border: 2px solid red; */
}






/* ----------------Section 2------------- */


.section-2{
  width: 80%;
  display: grid;
  grid-template-areas: 
  'team1 team2 team3'
  'team4 team5 team6'
  'team7 team8 team9'
  'team10 team11 team12';
  grid-row-gap: 50px;
  column-gap: 30px;
  margin: auto;
  /* box-sizing: border-box; */
  padding-bottom: 50px;
  padding-top: 20px;
}

.team1{
  grid-area: team1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team2{
  grid-area: team2;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team3{
  grid-area: team3;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team4{
  grid-area: team4;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team5{
  grid-area: team5;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team6{
  grid-area: team6;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team7{
  grid-area: team7;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team8{
  grid-area: team8;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team9{
  grid-area: team9;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team10{
  grid-area: team10;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team11{
  grid-area: team11;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team12{
  grid-area: team12;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.name{
  font-weight: 700;
  margin: 10px 0px 3px 0px;
  font-size: 23px;
 
}
.as {
  color:#FF7A00;
  font-size: 15px;
  font-weight: 700;
}
.foto{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.foto img {
  border-radius: 10px;
}

/* ............section -3 ........... */

.section-3 {
  width: 100%;
  display: flex;
  justify-content: center;
}



.section-3 img{
  max-width: 80%;
}






/* Section of Nexvel start */

.storyNexvel{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
 
}

.year{
  margin: 10px 0px ;
}

.story{
  margin-bottom: 20px;
  
}


/* Story of nexvel end */



/* ----------------------FOOTER---------------------- */

footer{
  width: 100%;
  /* background-color: blue; */
}

footer img{
  width: 100%;
  /* height: 100px; */
  margin-bottom: -5px;
}

.footer-content{
  width: 100%;
  color: white;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-top: -70px;
  padding: 0px 25px;
  box-sizing: border-box;
  /* background-color: blue; */
  
}

.footer-icon{
  display: flex;
  justify-content: space-evenly;

}

.footer-icon img{
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}



/* Akhir footer */



/* responsive */
@media screen and (min-width: 1500px) {
  /* .nv p{
    line-height: 95vh;
  } */
  /* section 1 */
  .section-1{
    height:55vh;
  }
  .nv video{
    width: 850px;
  }
  #tnl{
    font-size: 100px;
    margin-top: -110px;
  }
  #masker{
    font-size: 175px;
    padding-top: 145px;
  }


  /* section 2 */

  .section-2{
   width: 60%;
  }
  
  .foto img{
    width: 350px;
    border-radius: 20px;
  }

  .name{
    font-size: 30px;
  }
  .as{
    font-size: 22px;
  }

  /* sectinon 3 */
  .section-3 img{
    width: 1200px;
  }
  .story h2{
    font-size: 35px;
  }
  .story p{
    font-size: 22px;
  }
 

   /* ------------FOOTER-------------------- */
   footer{
    height: 200px;
    padding-bottom: 40px;
  }
  .footer-content{
    margin-top: -80px;
  }
  footer img{
    margin-bottom: -10px;
    height: 200px;
  } 

  .footer-icon img {
    width: 55px;
    height: 55px;
  }
}

@media screen and (min-width: 1000px){

  /* section 2 */
  .section-2{
   width: 60%;
  }

  footer{
    width: 100%;
  }
}

@media screen and (max-width: 850px){
.foto img{
  width: 150px;
}

@media screen and (max-width: 650px) {
   nav{
    padding: 0 20px;
  }

  .section-1{
    height: 34vh;
  }

  .nv{
    /* height: 35vh; */
  }

  .nv video{
    width: 200px;
  }
  #tnl{
    margin-top: -1vh;
    font-size: 28px;

  }

  #masker{
    font-size: 49px;
    /* line-height: 41vh; */
    /* height: 35vh; */
    padding-top: 60px;
  }

  




  /*section 2*/

  .section-2{
    width: 100%;
     grid-template-areas: 
    'team1 team2'
    'team3 team4'
    'team5 team6'
    'team7 team8'
    'team9 team10'
    'team11 team12';
    grid-row-gap: 10px;
    column-gap: 15px;
    padding: 25px;
    
  }
  .name{
    font-size: 16px;
  }
  .as{
    font-size: 11px;
  }

 
  .foto img{
    border-radius: 10px;
    width: 150px;
  }

  .team11{
    grid-area: team10;
    display: flex;
    align-items: center;
    flex-direction: column;
  }




 /* story of nexvel */
  .container{
    padding: 0;
    width: 80%;
  }
  .story p{
    font-size: 12px;
  }
  

   /* footer */
   footer img{
    height: 100px;
  }
  .footer-icon img{
    width: 20px;
    height: 20px;
    margin: 3px;
    background-color: white;
    padding: 3px;
    border-radius: 10px;
  }

  .footer-content{
    width: 100%;
    color: white;
    font-size: 0.5em;
    margin-top: -37px;
    padding: 0px 20px;
    box-sizing: border-box;
    /* background-color: blue; */
    
  }
}